<app-header></app-header>
<main id="main" class="main">
    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-8">
                <div class="col-lg-12">
                    <h3><b><i>{{'broj-na-info.title' | translate}}</i></b></h3>

                    <div id="myPicker" class="report-date">
                        <i class="bi bi-calendar2-range"></i>&nbsp;
                        <span>Last month: 20.09.2022 - 20.10.2022</span>

                        <span class="caret-left">
            <i class="bi bi-caret-down"></i>
          </span>
                    </div>

                    <div id="chartdiv" class="chartdiv"></div>

                    <button class="show-table" (click)="toggleTag()"><span class="m-1">Show table</span></button>
                    <!-- <span class="mx-2"></span>
        <button (click)="saveXLS()" title="Export as Excel" class="export" type="button" id="export"><i class="bi bi-file-earmark-excel-fill" aria-hidden="true"></i></button>
        <span class="mx-2"></span>
        <button title="Export as PDF" (click)="savePDF()" class="export" type="button" aria-hidden="true"><i class="bi bi-file-earmark-pdf-fill"></i></button> -->
                    <div *ngIf="showMe">
                        <br><br>
                        <h5><i><u>Табеларен приказ на бројот на информации</u></i></h5>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Датум</th>
                                    <th>Број на информации</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let chartInformation of chartModelClipsByDateList">
                                    <td>{{chartInformation.date_of_clip | date:'dd.MM.yyyy' }}</td>
                                    <td>{{chartInformation.clips_per_date}}</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <app-sidebar></app-sidebar>
            </div>
        </div>
    </section>
</main>



<app-footer></app-footer>