<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  <div class="float-start footer-links text-white">
      Sette Media Monitoring
  </div>
  <div class="float-end footer-links">
    <a class="mx-2" href="javascript: void(0);">{{'footer.about' | translate}}</a>
    <a class="mx-2" href="javascript: void(0);">{{'footer.support' | translate}}</a>
    <a class="mx-2" href="javascript: void(0);">{{'footer.contact' | translate}}</a>
  </div>
</footer><!-- End Footer -->




<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>







