<app-header></app-header>
<main id="main" class="main">
    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-12">
                <div class="btn-right">
                    <button class="btn btn-navy btn-circle" (click)="toggleTag()"><i class="fa fa-angle-down"
                            aria-hidden="true"></i> Напредно Пребарување</button>
                </div>
                <div *ngIf="showMe">
                    <app-sales-sidebar></app-sales-sidebar>
                </div>
                <br>
                <!-- Left side columns -->
                <!-- <div class="col-lg-8">
                <div class="row"> -->

                <!-- Reports -->
                <!-- <div class="col-12"> -->
                <div class="tableFixHead">
                    <br>
                    <table class="table table table-hover" id="sale">
                        <div class="white-space search-results infinite-1" id="salesCards" infinite-scroll
                                [infiniteScrollDistance]="2" [infiniteScrollThrottle]="300" [scrollWindow]="false"
                                (scrolled)="onScrollUp()">
                        <thead class="bg-navy text-white text-center align-middle">
                            <tr>
                                <th scope="col">Датум на објава</th>
                                <th scope="col">Доверител</th>
                                <th scope="col">Должник</th>
                                <th scope="col">Вид на продажба</th>
                                <th scope="col">Место на продажба</th>
                                <th scope="col">Датум на продажба</th>
                            </tr>
                        </thead>
                        <tbody class="table-striped align-middle text-center">
                            <tr  *ngFor="let sale of salesList">
                                <td class="col-sm-1 text-nowrap">{{sale.sales_date}}</td>
                                <td class="col-sm-3 text-nowrap">{{sale.sales_creditor}}</td>
                                <td>{{sale.sales_debtor}}</td>
                                <td>{{sale.sales_type}}</td>
                                <td>{{sale.sales_place}}</td>
                                <td>{{sale.sales_expire}}</td>
                            </tr>
                        </tbody>
                        </div>
                    </table>
                </div>
            </div>
            <!-- </div>


            </div> -->
            <!-- End Left side columns -->
            <!-- Right side columns -->
            <!-- <div class="col-lg-4">
                <app-sales-sidebar></app-sales-sidebar>
            </div> -->
            <!-- End Right side columns -->

        </div>
    </section>
</main>
<!-- End #main -->


<app-footer></app-footer>