<h3 class="mx-3 my-5"><b><i>{{'tags.title-3' | translate}}</i></b></h3>
<div id="chartdiv3" class="chartdiv"></div>
<button class="show-table" (click)="toggleTag()"><span class="m-1">Show table</span></button>
<span class="mx-2"></span>


<div *ngIf="showMe">
    <br>
    <h5><i><u>Табеларен приказ на бројот на информации по медиум</u></i></h5>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Име на тип на медиум</th>
                <th>Име на таг</th>
                <th>Број на информации по тип на медиум</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let chartInformation of chartTagMediumsList">
                <td>{{chartInformation.medium_type_name}}</td>
                <td>{{chartInformation.tag_name_c}}</td>
                <td>{{chartInformation.num_of_medium_type}}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <br>
</div>
